* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-accent-color: #3080c1;
    --secondary-accent-color: #183059;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #e7e7e7e3;
    --primary-grey-shade: #e5e5e5;
    --secondary-grey-shade: #aeaeaeb7;
}

body {
    font-family: serif;
    background-color: var(--primary-accent-color);
    color: var(--primary-text-color);
    background: linear-gradient(to bottom,
            #3080c1 0%,
            #183059 100%);
}

p {
    color: var(--secondary-text-color);
    padding: 5px;
}

.main-container{
    display: flex;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fit-screen-height {
    height: 100%;
    width: 700px;
    max-width: 100%;
}


.login-container {
    padding-left: 300px;
    padding-top: 200px;
}

.form-label {
    color: black;
    font-weight: 700;
}

.forgot-pass {
    padding-left: 60px;
    color: rgb(19, 3, 3);
}

.forgot-pass:hover {
    color: var(--primary-text-color);
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.create-account {
    margin-left: 110px;
}

.create-account p {
    display: inline;
}

.create-account a {
    /* margin-left: 110px; */
    color: rgb(19, 3, 3);
}

.create-account a:hover {
    color: var(--primary-text-color);
}