.subNav {
    text-decoration: none; /* Remove the default underline from links */
    font-size: 23px; /* Set the default font size */
    transition: text-decoration 0.3s, font-size 0.3s; /* Add a smooth transition effect */
  }

.subNav:hover {
    /* text-decoration: underline; Show underline on hover */
    font-size: 27px; /* Enlarge font on hover */
  } 

.subNav.active {
    text-decoration: underline;
}