a,
a:visited {
    color: white;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
} 

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
    color: black;
    align-self: center;
}


.f {
    height: 92vh;
    background-color: rgb(93, 150, 241);
}

.reg {
    padding-top: 120px;
}

.f1 {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.mang {
    /* padding-right: 5%; */
    transition: transform 0.3s ease-in-out;
} 

.mang:hover {
    cursor: pointer;
    font-size: larger;
}

.mang input[type="radio"] {
    margin-right: 10px;
}

.emp {
    /* padding-right: 5%; */
    transition: transform 0.3s ease-in-out;
}

.emp:hover {
    cursor: pointer;
    font-size: larger;
}

.emp input[type="radio"] {
    margin-right: 10px;
}

.alreadyregistered {
    color: black;
    align-self: flex-end;
    font-weight: 600;
}

.registered {
    color: black;
    text-align: left;
}