/* 
:root {
    --primary-accent-color: #3080c1;
    --secondary-accent-color: #183059;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #e7e7e7e3;
    --primary-grey-shade: #e5e5e5;
    --secondary-grey-shade: #aeaeaeb7;
} */